/* ========================== Component Name ========================== */
$component: .portfolio-04;

/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */

$(component) {
  @apply relative w-full my-8 mx-auto;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  
  &__wrap {
    @apply flex relative w-full mx-auto px-12 max-w-screen-xl text-wire-dark;
  }

  &__list {
    @apply flex w-full border-wire-gray;
    border-bottom: 1px solid gray;
  }

  &__item {
    @apply flex-1 mr-2 py-4;
  }

  &__link {
    @apply text-center block py-2 px-4 text-wire-gray;
  }

  &__item:first-of-type &__link {
    @apply text-wire-dark;
  }

  &__item:first-of-type {
    border-bottom: 3px solid gray;
  }


  /* ========================== Modifiers ========================== */

  /* ========================== Breakpoints ========================== */

  @screen sm {

  }

  @screen md  {

  }

  @screen lg  {

  }

  @screen xl  {

  }

  @screen xxl  {

  }

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
}

/* ========================== INSTANCE OVERRIDES ========================== */

$(component).someClass {

  $(component)__wrap {

  }
}
